---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #3B0548;
$iron: #D32E6B;
$cloudy: #e7427f;

@import
    "mixins",
    "default",
    "404"
;
